# dependencies
/node_modules

# IDE
/.idea
/.awcache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log
.DS_Store

# tests
/test
/coverage
/.nyc_output

# source
dist

# config
.env
